<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Certificate of Title" href="https://www0.landgate.wa.gov.au/titles-and-surveys/certificate-of-title" title="Certificate of Title page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-menu-paper"></i>
            <span class="name" data-gaact="Main navigation">Certificate of Title</span>
            <span class="desc" data-gaact="Main navigation">Find owner, title details and associated documents online with quick email delivery</span>
        </a>
        <ul class="sub-dropdown-menu">
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/certificate-of-title/notifyme" aria-label="" tabindex="0">NotifyMe</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/certificate-of-title/current-ownership" aria-label="" tabindex="0">Current Ownership Name Search Report</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/certificate-of-title/associated-documents" aria-label="" tabindex="0">Associated documents</a></li>
        </ul>
    </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Survey or strata plans" href="https://www0.landgate.wa.gov.au/titles-and-surveys/survey-or-strata-plans" title="Survey or strata plans page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-survey-of-strata-plans"></i>
            <span class="name" data-gaact="Main navigation">Survey or strata plans</span>
            <span class="desc" data-gaact="Main navigation">Search for land boundary surveys<br>online with quick email delivery</span>
        </a>
        <ul class="sub-dropdown-menu">
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/survey-or-strata-plans/survey-documents" aria-label="" tabindex="0">Survey documents</a></li>
         </ul>
        </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Community Titles" href="https://www0.landgate.wa.gov.au/titles-and-surveys/community-titles" title="Community Titles page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-partnering-with-you"></i>
            <span class="name" data-gaact="Main navigation">Community Titles</span>
            <span class="desc" data-gaact="Main navigation">Learn about new Community Title schemes.</span>
        </a>
    </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Strata Titles" href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles" title="Strata Titles page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-our-commitments"></i>
            <span class="name" data-gaact="Main navigation">Strata Titles</span>
            <span class="desc" data-gaact="Main navigation">Learn about changes to strata title laws</span>
        </a>
        <ul class="sub-dropdown-menu">
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/strata-guides-and-FAQs" aria-label="" tabindex="0">Strata guides and FAQs</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/strata-enquiry-line" aria-label="" tabindex="0">Strata enquiry line</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/which-form-do-i-need" aria-label="" tabindex="0">Which form do I need? </a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/complete-a-strata-form" aria-label="" tabindex="0">Complete a strata form</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/prepare-a-strata-plan" aria-label="" tabindex="0">Prepare a strata plan</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/strata-titles/visit-the-strata-reform-website" aria-label="" tabindex="0">Visit strata reform website</a></li>
        </ul>
    </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Historical records" href="https://www0.landgate.wa.gov.au/titles-and-surveys/historical-records" title="Historical records page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-historical-maps"></i>
            <span class="name" data-gaact="Main navigation">Historical records</span>
            <span class="desc" data-gaact="Main navigation">Discover historic records from early <br>settlement. Enquire online</span>
        </a>
    </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Property ownership" href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership" title="Property ownership page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-box-house"></i>
            <span class="name" data-gaact="Main navigation">Property ownership</span>
            <span class="desc" data-gaact="Main navigation">Tips and tools for buyers, sellers,<br> home owners and investors</span>
        </a>
        <ul class="sub-dropdown-menu">
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/form-lodgement" aria-label="" tabindex="0">Form lodgement</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/certification-of-original-documents" aria-label="" tabindex="0">Certification of original documents</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/survey-services" aria-label="" tabindex="0">Buying &amp; selling property</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/fraud-protection" aria-label="" tabindex="0">Fraud prevention</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/verify-an-address" aria-label="" tabindex="0">Verify an Address</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/ato-property-reporting" aria-label="" tabindex="0">ATO Property Reporting</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/property-ownership/natural-disaster-recovery-support" aria-label="" tabindex="0">Natural disaster recovery support</a></li>
        </ul>
    </div>
</li>
<li class="dropdown-menu dropdown-menu-end dropdown-menu-arrow source-logo-menu pt-2 pb-2">
    <div class="drop-heading border-bottom d-f-ai-c">
        <a aria-label="Forms &amp; fees" href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees" title="Forms &amp; fees page" data-gaact="Main navigation" tabindex="0">
            <i aria-hidden="true" class="icon-box-paper"></i>
            <span class="name" data-gaact="Main navigation">Forms &amp; fees</span>
            <span class="desc" data-gaact="Main navigation">Find online titling forms, help guides <br>and lodgement fees</span>
        </a>
        <ul class="sub-dropdown-menu">
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/Lodgement-and-search-forms" aria-label="" tabindex="0">Lodgement and Search Forms</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/current-fees" aria-label="" tabindex="0">Current Fees</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/changing-title-details" aria-label="" tabindex="0">Changing title details</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/land-titling-forms" aria-label="" tabindex="0">Land titling forms</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/survey-and-strata-forms" aria-label="" tabindex="0">Strata Forms</a></li>
            <li class="sub-dropdown-menu"><a href="https://www0.landgate.wa.gov.au/titles-and-surveys/forms-and-fees/community-titles-forms" aria-label="" tabindex="0">Community Titles Forms</a></li>
        </ul>
    </div>
</li>
<!--closing <ul> here-->
